body {
  padding-top: 30px;
}
.main-title {
  display: flex;
  align-items: center;
  max-width: 1410px;
  padding: 0 30px;
  margin: 0 auto 30px;
  font-size: 2.1rem;
}
.logo {
  width: 2.2rem;
  height: auto;
  margin-left: 20px;
}

.native-vs-custom {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 660px));
  grid-gap: 30px;
  padding: 0 30px;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: center;
}
.native-vs-custom h2 {
  grid-column: span 2;
  margin: 15px 0 0;
}
@media (max-width: 600px) {
  .native-vs-custom {
    display: block;
  }
  .native-vs-custom h2 {
    margin-bottom: 20px;
  }
  .native, .custom, .scale-test, .absolute-test {
    margin-bottom: 30px;
  }
}

.footer {
  text-align: center;
  padding: 100px 30px;
}
.footer a {
  padding: 10px;
}

.native, .custom {
  background-color: #f9f8f7;
  border: 1px solid #999;
  overflow-y: auto;
  overflow-x: hidden;
}

@keyframes show {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(0.75);
  }
}

.scale-test {
  position: relative;
  height: 300px;
  border: 1px solid #999;
}
.scale-viewport {
  max-height: 100%;
  animation: show 250ms cubic-bezier(0, 0, 0.2, 0.1) forwards;
}
.scale-viewport.native {
  padding: 1.5rem;
}
.scale-viewport.custom {
  --content-padding: 1.5rem 2rem;
}

.carousel-test {
  background: transparent;
  overflow-y: hidden;
  overflow-x: auto;
}
.carousel-test.native {
  padding: 1.5rem;
}
.carousel-test.custom {
  --content-padding: 1.5rem;
}
.carousel-track {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.5rem;
}
.carousel-item {
  width: 250px;
  height: 250px;
  background-color: #f9f8f7;
  font-size: 1.5rem;
  line-height: 250px;
  text-align: center;
}

.vertical-carousel-test {
  max-height: 500px;
  background: transparent;
  scroll-snap-type: y mandatory;
}
.vertical-carousel-test.native {
  padding: 1.5rem;
}
.vertical-carousel-test.custom {
  --content-padding: 1.5rem;
}
.vertical-carousel-track {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1.5rem;
}
.vertical-carousel-item {
  scroll-snap-align: center;
  width: 100%;
  height: 400px;
  background-color: #f9f8f7;
  font-size: 1.5rem;
  line-height: 400px;
  text-align: center;
}

.data-table-test {
  max-height: 300px;
  overflow: auto;
}
.data-table-content {
  display: grid;
  grid-template-columns: repeat(10, 185px);
}
.data-table-row {
  display: contents;
}
.data-table-cell {
  padding: 20px;
  border-bottom: 1px solid #e1e4e8;
}
.data-table-row:nth-child(even) .data-table-cell {
  background-color: #fcfeff;
}
.data-table-row:nth-child(odd) .data-table-cell {
  background-color: #f5f7fa;
}
.data-table-row:last-child .data-table-cell {
  border-bottom: 0;
}
.data-table-row.data-table-header .data-table-cell {
  background-color: #eff8ff;
  border-bottom: 1px solid #c8e1ff;
  font-weight: bold;
}

.overflow-test {
  max-height: 300px;
}
.overflow-test.native {
  padding: 1.5rem;
}
.overflow-test.custom {
  --content-padding: 1.5rem;
}

.text-ellipsis-test {
  max-height: 300px;
}
.text-ellipsis-test.native {
  padding: 1.5rem;
}
.text-ellipsis-test.custom {
  --content-padding: 1.5rem;
}
.text-ellipsis-test p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.centered-test {
  height: 200px;
  overflow-x: auto;
}
.centered-content {
  min-width: 320px;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 1rem;
  background: #bbb;
}

.absolute-test {
  position: relative;
  height: 350px;
  width: 100%;
  border: 1px solid #999;
}
.absolute-viewport {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  max-width: 90%;
  height: 80%;
}
.absolute-viewport.native {
  padding: 1.5rem;
}
.absolute-viewport.custom {
  --content-padding: 1.5rem 2rem;
}
.absolute-viewport .fixed-width {
  width: 400px;
  background-color: #ddd;
  margin: 0 auto 30px;
  padding: 1rem;
}

.nested-test {
  background-color: #eee;
  margin-bottom: 30px;
  overflow-x: auto;
}
.nested-content {
  width: 750px;
  height: 80px;
  padding: 1rem;
}

.emoji-test {
  height: calc(2.6rem * 12 + 1.6rem * 1.15 + 36px + 0.5rem);
  background-color: #fcfeff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.05);
}
.emoji-group .title {
  font-size: 1.6rem;
  padding: 18px;
  position: sticky;
  top: 0;
  background-color: #fcfefff2;
  text-shadow: 0 0 2px #fff;
}
.emoji-group .emojis {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.6rem, 1fr));
  padding: 0 20px 20px;
}
.emoji-group .emojis .emoji {
  font-size: 1.5rem;
  line-height: 2.6rem;
  text-align: center;
  font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
}
